// Place all the styles related to the Restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
h1 {
  color: rgb(141, 54, 54);
  margin-top: 25px;
  text-align: center;
}

h2 {
  color: blue;
  margin-top: 35px;
}
